/* :root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
} */

/* :root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
} */

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
}
/* header */
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.a_header:hover {
  color: #404bbf;
}

.a_header:focus {
  color: #404bbf;
}

.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header_ul {
  font-weight: 500;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header_ul:hover {
  color: #404bbf;
}

.header_ul:focus {
  color: #404bbf;
}

.ul_header > li > a {
  margin-right: 40px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address_li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
}

.address_li:hover {
  color: #404bbf;
}

.address_li:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

.ul_address > li > a {
  margin-right: 40px;
  font-weight: 400;
}

/* header */

/* section_1 */

.section_main {
  background-color: #2e2f42;
}

.main_h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.main_btn {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.main_btn:hover {
  background-color: #404bbf;
}

.main_btn:focus {
  background-color: #404bbf;
}

/* section_1 */

/* section_2 */

.advant_h2 {
  line-height: 1.2;
}

.advant_h3 {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advant_p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}

/* section_2 */

/* section_3 */

.oteam_section {
  background: #f4f4fd;
}

.oteam_h2 {
  line-height: 1.11;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.oteam_ul > li {
  background: #fff;
  border: none;
}

.oteam_h3 {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.oteam_p {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* section_3 */

/* section_4 */

.oportfolio_h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.oportfolio_ul > li {
  margin-right: 24px;
  background: #fff;
}

.oportfolio_h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.oportfolio_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section_4 */

/* footer */

.foot {
  background: #2e2f42;
  padding: 60px 0;
}

.a_foot {
  line-height: 1.17;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.a_foot > .studio-span {
  color: #f4f4fd;
}

.p_foot {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--cloud); /* або напряму #f4f4fd */
  max-width: 264px;
}

/* Якщо потрібно, можна додати змінну */
:root {
  --cloud: #f4f4fd;
}
